<html>
<head>
  <title>Schedule</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="Schedule" ng-controller="MainCtrl">

   <div class="row">
   <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

	<!-- Form that allows the user to add a class. -->
	<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
	<h3> Class Scheduler </h3>
	<br>

	<!-- ng-submit will include whatever function we want to occur after the user hits submit. -->
	<form ng-submit="addClass()" style = "margin-top30px;">
      	<input type="text" ng-model="formContent" placeholder="Class name"></input>
      	<button type="submit">Submit</button>

<br><br>

Start Time:
	<select ng-model="startTime" placeholder="Start Time">
	<option value="{{x}}" ng-repeat="x in timeStrings track by $index">{{x}}</option>
	</select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
End Time:
  <select ng-model="endTime" placeholder="End Time">
	<option value="{{x}}" ng-repeat="x in timeStrings track by $index">{{x}}</option>
	</select>

	<br><br>

	<label>Monday:
	<input type="checkbox" ng-model="monday"></input>
	</label>&nbsp;&nbsp;

	<label>Tuesday:
        <input type="checkbox" ng-model="tuesday"></input>
        </label>&nbsp;&nbsp;

	<label>Wednesday:
        <input type="checkbox" ng-model="wednesday"></input>
        </label>&nbsp;&nbsp;

	<label>Thursday:
        <input type="checkbox" ng-model="thursday"></input>
      </label>&nbsp;&nbsp;

	<label>Friday:
        <input type="checkbox" ng-model="friday"></input>
        </label>

</form>

<table class="table">
  <thead>
    <tr>
      <th>Time</th>
  <th>Monday</th>
  <th>Tuesday</th>
  <th>Wednesday</th>
  <th>Thursday</th>
  <th>Friday</th>
</tr>
</thead>
<tr>
  <td>
    <table class="table">
      <tr ng-repeat="t in timeStrings2 track by $index">
        <td >{{t}}</td>
      </tr>
    </table>
  </td>
<td ng-repeat="column in table track by $index">
<table class="table">
  <tr ng-repeat="row in column track by $index" ng-switch="row.length">
    <td ng-switch-when="0">&nbsp;</td>
    <td ng-switch-when="1" class="info">{{row[0].title}}&nbsp;</td>
    <td ng-switch-default class="danger">{{row[1].title}}&nbsp;</td>
  </tr>
</table>
</td>
</tr>

</table>
	</div>
	</div>
</body>
</html>
