<html>
<head>
  <title>Schedule</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="Schedule" ng-controller="MainCtrl">

   <div class="row">
   <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>
  Class schedule.
	
	<!-- Form that allows the user to add a class. -->
	<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
	<h3> Please add a class. </h3>
	<br>

	<!-- ng-submit will include whatever function we want to occur after the user hits submit. -->
	<form ng-submit="addClass()" style = "margin-top30px;">
      	<input type="text" ng-model="formContent" placeholder="Class name"></input>
      	<button type="submit">Submit</button>
	</form>

	<select ng-model="selectedTimeSlot" placeholder="Start Time" ng-repeat="x as x for x in timeStrings">
	<option value="" selected="selected">Choose a start time</option>
	
	</select>

	<div ng-repeat="y as y for y in timeStrings">
	{{y}} 
	</div>

	<br><br>
	
	<label>Monday:
	<input type="checkbox" ng-model="checkboxModel.monday"></input>
	</label>

	<label>Tuesday:
        <input type="checkbox" ng-model="checkboxModel.tuesday"></input>
        </label>

	<label>Wednesday:
        <input type="checkbox" ng-model="checkboxModel.wednesday"></input>
        </label>

	<label>Thursday:
        <input type="checkbox" ng-model="checkboxModel.thursday"></input>
        </label>

	<label>Friday:
        <input type="checkbox" ng-model="checkboxModel.friday"></input>
        </label>

	</div>
	</div>
</body>
</html>
